.App {
  text-align: center;
background-color: whitesmoke;  
}

#button-sec{
  position:absolute;
  right:0;
}
.cards{
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 20px;
    place-items: center;
  height: 100%;

}
Button{
  width: 6rem;
}